body{
	background-color: #fff;
	margin:0;
	padding:0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
h1{
    margin-left:5em;
}
*html{
	box-sizing: border-box;
	height:100%;
}
.outer{
    margin:auto;
    
}
.inner{
    position:absolute; /*絶対値指定*/
    height: 1.2rem; /*高さ指定*/
    right:0;
    top:0; /*上からの位置指定*/
    bottom:0; /*下からの位置指定*/
    margin:auto;
    width: 50%;
}
.inner.profile{
    margin:auto;
}
.inner a{
    margin-left:20px;
}   



footer{
	text-align: center;
	width:100%;	
	background:blueviolet;
	position: fixed;/*←固定位置*/
    bottom: 0; /*下に固定*/
}