
/*================= フォーム ===================*/
/*レスポンシブ対応*/
.login { 
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

/*レスポンシブ対応　ヘッダーあり*/
.login-header{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

.login h1,h2 {
  text-shadow: 0 0 10px rgba(0,0,0,0.3); 
  letter-spacing:1px; 
  text-align:center; 
}

/*名前＆パスワードラベル*/
input { 
  margin-bottom: 10px; 
  border: none;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

/*================= ログインボタンなど ===================*/
.btn {
  display: inline-block;
  *display: inline; 
  *zoom: 1; 
  padding: 4px 10px 4px; 
  margin-bottom: 0; 
  font-size: 13px; 
  line-height: 18px; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  vertical-align: middle; 
  background-color: #f5f5f5; 
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
  background-image: linear-gradient(top, #ffffff, #e6e6e6); 
  background-repeat: repeat-x; 
  cursor: pointer; 
  *margin-left: .3em; 
}

.btn-large { 
  padding: 9px 14px; 
  font-size: 15px; 
  line-height: normal; 
}

.btn:hover { 
  color: #333333; 
  text-decoration: none; 
  background-color: #e6e6e6; 
  background-position: 0 -15px; 
  -webkit-transition: background-position 0.1s linear; 
  -moz-transition: background-position 0.1s linear; 
  -ms-transition: background-position 0.1s linear; 
  -o-transition: background-position 0.1s linear; 
  transition: background-position 0.1s linear; 
}

.btn-primary { 
  background-color: #4a77d4; 
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
  background-image: linear-gradient(top, #6eb6de, #4a77d4); 
  background-repeat: repeat-x; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.btn-primary:hover{ 
  filter: none; background-color: #4a77d4; 
  color: #fff;
}

.btn-block { 
  width: 100%; 
  display:block; 
}



/*================== 新規作成ボタン ======================*/
.button{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*ボタン外側*/
.btn-radius{
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 100vh;
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);
}

/*ボタン内側*/
a.btn-radius-gradient {
  border-radius: 100vh;
  background: linear-gradient(to bottom, #e3eaed 0%, #f2f5f6 100%);
}

a.btn-radius-gradient:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.account-btn a{ 
  margin-top: 10px;
} 