/* edit.html,detail.html upload.htmlに適応 */
main{
    text-align:center;
  }
  /* main内の各divごとに隙間を追加 */
  .contentBox div{
    padding:20px;
  }
  
  .upload{
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    display: flex;
    justify-content: space-evenly;
    width:35%;
  }
  .textarea{
    text-align:start;
  }
  