
/* edit.html,detail.html upload.htmlに適応 */
main{
    text-align:center;
  }

  /* main内の各divごとに隙間を追加 */
  .contentBox div{
    padding:20px;
  }
  label{
    font-size:25px;
  }
  .mb-3{
    margin:auto;
    width:40%;
  }
  .mb-3 label{
    font:20px;
  }
  .upload{
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    display: flex;
    justify-content: space-evenly;
    width:35%;
  }
  /* placeholderの変更ができない */
  /* ::placeholder{
    color:green;
    opacity:0;
  }  */
  .textarea{
    text-align:start;
  }
  