
h2{
    text-align: center;

}

/*検索アイコン*/

main{
    text-align:center;
}
.content {
    margin:auto;
    border-width:5px;
	border-color: #006DD9;
	border-style: inset;
	width: 50%;
	height: 20%;
}
.contenttext{
    text-align:left;
}
.image{
    vertical-align:top;
}
table{
    border-collapse:collapse;
}
td{
    border-width:1px;
	border-color: #006DD9;
	border-style: inset;
    border-collapse:collapse;
    border-left-style:none;
    padding:0 20px 0 10px;
}
.image{
    margin-right:20px;
}

